.header__top {
    @media screen and (max-width: 780px) {
        display: none;
    }
}

.info-links {
    @include flex-center;
    padding: 17px 0 16px;

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 16px;
        color: $dark;
        text-decoration: none;

        &:active {
            color: $accent;
        }
    }
}

.header__main {
    padding: 20px 0;
    margin-bottom: 1px;
    background-color: $white;

    @media screen and (max-width: 1000px) {
        padding: 15px 0;
    }

    .container {
        @include flex-separate;

        @media screen and (max-width: 500px) {
            @include flex-vertical-center;
        }
    }
}

.logo {
    @include flex-align-center;

    @media screen and (max-width: 500px) {
        margin-bottom: 10px;
    }

    &__pic {
        margin-right: 20px;

        @media screen and (max-width: 900px) {
            img {
                width: 70px;
            }
        }
    }

    &__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
        color: $accent;

        @media screen and (max-width: 900px) {
            font-size: 30px;
        }
    }
}

.header__right {
    @include flex-align-center;
}

.call-back {
    @include flex-align-center;

    &__phone {
        display: block;
        margin-right: 40px;

        font-size: 16px;
        line-height: 19px;
        color: $black;
        text-decoration: none;

        @media screen and (max-width: 780px) {
            display: none;
        }

        &:active {
            color: $accent;
        }
    }

    &__btn {
        padding: 12px 26px 13px;
        border: 2px solid $accent;
        border-radius: 40px;
        background-color: $white;

        &:hover {
            cursor: pointer;
        }

        &:active {
            background-color: $accent;
        }

        @media screen and (max-width: 500px) {
            padding: 8px 15px 9px;
        }
    }
}

.header__bottom {
    background-color: $white;

    .container {
        padding: 30px 20px;

        @media screen and (max-width: 1000px) {
            padding: 20px;
        }

        @media screen and (max-width: 780px) {
            padding: 10px 20px;
        }
    }
}

.nav {
    &__list {
        @include flex-center;
    }

    &__item {
        margin-right: 40px;

        @media screen and (max-width: 780px) {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &_special {
            display: none;

            @media screen and (max-width: 780px) {
                display: block;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: $black;

        &:active {
            color: $accent;
        }
    }
}
