.info-links {
    @include flex-center;
    padding: 17px 0 16px;

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 16px;
        color: $dark;
        text-decoration: none;

        &:active {
            color: $accent;
        }
    }
}

.header__main {
    padding: 20px 0;
    margin-bottom: 1px;
    background-color: $white;

    .container {
        @include flex-separate;
    }
}

.logo {
    @include flex-align-center;

    &__pic {
    margin-right: 20px;
    }

    &__name {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
        color: $accent;
    }
}

.header__right {
    @include flex-align-center;
}

.call-back {
    @include flex-align-center;

    &__phone {
        display: block;
        margin-right: 40px;

        font-size: 16px;
        line-height: 19px;
        color: $black;
        text-decoration: none;

        &:active {
            color: $accent;
        }
    }

    &__btn {
        padding: 12px 26px 13px;
        border: 2px solid $accent;
        border-radius: 40px;
        background-color: $white;

        &:hover {
            cursor: pointer;
        }

        &:active {
            background-color: $accent;
        }
    }
}

.header__bottom {
    background-color: $white;

    .container {
        padding: 30px 0;
    }
}

.nav {
    &__list {
        @include flex-center;
    }

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: $black;

        &:active {
            color: $accent;
        }
    }
}
