.special {
    &__top {
        @include flex-separate;
        @include flex-align-center;

        margin-top: 70px;
        margin-bottom: 15px;

        @media screen and (max-width: 1000px) {
            margin-top: 40px;
        }

        @media screen and (max-width: 650px) {
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }

    &__pic {
        margin-right: 45px;
        width: 188px;
        height: 61px;
        background-image: url(../img/car.svg);

        @media screen and (max-width: 650px) {
            display: none;
        }
    }

    &__heading {
        margin: 0;
        font-size: 24px;
        line-height: 28px;

        @media screen and (max-width: 400px) {
            font-size: 22px;
            text-align: center;
        }
    }

}

.goods {
    @include flex-separate;
    overflow: hidden;
    margin-bottom: 100px;

    @media screen and (max-width: 1000px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 700px) {
        margin-bottom: 30px;
    }
}

.goods-card {
    @include flex-vertical-center;
    flex: calc(25% - 23px) 0 0;
    padding: 25px 30px;
    background-color: $white;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: 1000px) {
        flex: calc(33.3% - 20px) 0 0;
    }

    @media screen and (max-width: 700px) {
        flex: calc(50% - 15px) 0 0;
        padding: 20px;
    }

    @media screen and (max-width: 500px) {
        flex: 100% 0 0;
    }

    &__title {
        margin: 20px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $dark;

        @media screen and (max-width: 700px) {
            margin-bottom: 10px;
        }
    }

    &__cost {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.05em;
        color: $black;
    }

    &__btn {
        width: 130px;
        padding: 9px 40px;
        background-color: $accent;
        border: none;
        color: $white;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        border-radius: 30px;

        &:hover {
            cursor: pointer;
        }
    }
}

.special__bottom {
    @include flex-separate;
    margin-bottom: 133px;

    @media screen and (max-width: 1000px) {
        margin-bottom: 90px;
    }

    @media screen and (max-width: 740px) {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}

.bonus {
    flex: calc(50% - 15px) 0 1;
    padding: 25px 40px;
    background-color: $accent;
    background-image: url(../img/envelope.svg);
    background-repeat: no-repeat;
    background-position: right 45px center;

    @media screen and (max-width: 1100px) {
        background-size: 23%;
    }

    @media screen and (max-width: 1000px) {
        background-image: none;
    }

    @media screen and (max-width: 700px) {
        padding: 20px;
    }

    @media screen and (max-width: 600px) {
        flex: 100% 0 0;
        margin-bottom: 30px;
    }

    &__heading {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: $white;

        @media screen and (max-width: 700px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 600px) {
            margin-bottom: 10px;
        }
    }

    &__descr {
        max-width: 235px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
        color: $white;

        @media screen and (max-width: 600px) {
            max-width: 100%;
        }
    }

    &__input {
        max-width: 225px;
        padding: 9px 25px;
        background: $white;
        border-radius: 30px;
        border: none;

        &::placeholder {
            font-size: 14px;
            line-height: 16px;
            color: #C4C4C4;
        }
    }
}

.invite {
    flex: calc(50% - 15px) 0 1;
    padding: 25px 40px;
    background-color: $accent;

    @media screen and (max-width: 700px) {
        padding: 20px;
    }

    @media screen and (max-width: 600px) {
        flex: 100% 0 0;
        // margin-bottom: 30px;
    }

    &__heading {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: $white;

        @media screen and (max-width: 700px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 600px) {
            margin-bottom: 10px;
        }
    }

    &__descr {
        max-width: 235px;
        margin: 0;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
        color: $white;

        @media screen and (max-width: 600px) {
            max-width: 100%;
        }
    }

    &__btn {
        padding: 9px 28px;
        background-color: $accent;
        border: 2px solid $white;
        border-radius: 30px;
        color: $white;
        font-size: 14px;
        line-height: 16px;
    }
}